# Masukan API ID ambil di web my.telegram.org
API_ID = "15962402"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "84935c7f904f28e915da126500b173a2"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQALWpP53YDe3E2VnWGJuKhkG8DLgNgc5SHVMGSiAm7aKUx2W5faRL1zgLjP128dDpwZB23gzO0oX2K88mCEzEH4oGleSdA38L8fsEIF3E9OtGugsVwY0ruNCw5dT6uj_r8fbH8GQcht5AfTumiUkh7Ni7ZG_govwaze8PXO8LVHWkumQQH688o89TO8pBU3CnXdfctKABttLNWZH6fHuIy_iGU3nIaZrZN0eEsp5tJS-ozL9giCRqbtrU1-AqsOce1WQVkg8G9Uf-JdT3Z-aF5PxudqKW-41MxGyf_3tuYVglyspvl9s2nuEFYTYC_rb-ILC347FjD9tSEcUpEU_eYMwAAAAFJY3c0AA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"
