# Masukan API ID ambil di web my.telegram.org
API_ID = "14200817"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "1f217c5d594a79ce7576802dfa0688f1"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQAOYjJ6KK3w4Bx9EJQR3Ik9Nf8rKjrYr8Nx9N5RVJ2U79dmb8OB6ookqf8b2npZVLhlNbFatFCypbM5zYGwQ7caW7UtZlx_xgAShf8MeJtvBqKo66jKxIDasS6YqktgoZuWvS7Q58yZZ_n_LHWs4BJQoJM4QS-zGUWg_DldgsZ36EiyXyZTUAubnHBuJn5_tCzL8SLrvMVHU9PbiZWOoFTsG8lUGIeHus1QP7WQ1DiwUJ8SNxLWv-B6ej0C5v7NKgcv3ai7b-Lc9byYlu7sWyWqKviIsPsI4vpjC7PLQ7ayT6uZEi-fuN-DvKjLq0SugvffI7tCG4DvFaiCscJDhKkBwAAAAE968rKAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"
